@model cookboard.Models.RegisterReceitaModel
@{
    ViewBag.Title = "RegisterEmenta";
    Layout = "~/Views/Shared/_LayoutProfessor.cshtml";
}

<h1>Ementa Semanal</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="data" placeholder="Data: AAAA-MM-DD" required>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Segunda-Feira:</label>
                <select name="receitaS">
                    <option value="receitaS">
                        Selecione uma receita:
                    </option>
                    @foreach (var item in Model.Receitas)
                    {
                        <option value="@item.Nome">
                            @item.Nome
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Terça-Feira:</label>
                <select name="receitaT">
                    <option value="receitaT">
                        Selecione uma receita:
                    </option>
                    @foreach (var item in Model.Receitas)
                    {
                        <option value="@item.Nome">
                            @item.Nome
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Quarta-Feira:</label>
                <select name="receitaQ">
                    <option value="receitaQ">
                        Selecione uma receita:
                    </option>
                    @foreach (var item in Model.Receitas)
                    {
                        <option value="@item.Nome">
                            @item.Nome
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Quinta-Feira:</label>
                <select name="receitaQuinta">
                    <option value="receitaQuinta">
                        Selecione uma receita:
                    </option>
                    @foreach (var item in Model.Receitas)
                    {
                        <option value="@item.Nome">
                            @item.Nome
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Sexta-Feira:</label>
                <select name="receitaSexta">
                    <option value="receitaSexta">
                        Selecione uma receita:
                    </option>
                    @foreach (var item in Model.Receitas)
                    {
                        <option value="@item.Nome">
                            @item.Nome
                        </option>
                    }
                </select>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(146,141,142);">Register</button></div>
        </form>
    </div>
</div>
