@model IEnumerable<cookboard.Models.Utilizador>
@{
    ViewData["Title"] = "getUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>getUsers</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.ActionLink("Consultar", "Consultar", new { idServico = item.Nome })
        </td>
    </tr>
    }
</table>
